<!-- Contact Section -->
<section class="container my-5">
    <h1 class="display-4 mb-4">Contact</h1>
    <p class="text-muted mb-5">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>

    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <form class="bg-light rounded p-5">

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label text-end fw-bold">Your E-mail</label>
                    <div class="col-9">
                        <input type="email" class="form-control" placeholder="Your email">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label text-end fw-bold">Your message</label>
                    <div class="col-9">
                        <textarea class="form-control" rows="6" placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-9 offset-3">
                        <button type="submit" class="btn btn-primary float-end px-4">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
