<section class="py-5">
    <div class="container">
        <div class="row align-items-center g-5">


            <div class="col-lg-6">
                <h2 class="display-6 fw-light">
                    This First Heading
                    <span class="text-muted">Will Catch Your Eye</span>
                </h2>
                <p class="lead mb-0">
                    Donec ullamcorper nulla non metus auctor fringilla.
                    Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna.
                </p>
            </div>

            <div class="col-lg-6 text-center">
                <img src="assets/img/1.jpg" class="img-fluid rounded-circle" style="max-width: 300px;" alt="Imagen 1">
            </div>

        </div>
    </div>
</section>


