<!-- your html code here -->
<div class="container-fluid">
    <div class="card mb-3" style="auto">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/img/2.jpg" class="rounded-circle rounded" style= "margin: 45px; height= 200px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h class="card-title" style="font-size: 25px;">
                        <span style="color: black;">The Second Heading</span>
                        <span class="card-text" style="color: gray">Is Pretty Cool Too</span>
                    <p class="text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, et adipisci quos ducimus tempore impedit dicta facilis voluptas nisi fugit! Similique sint at iure eveniet molestiae saepe esse fugit unde?</p>
                </div>
            </div>
        </div>
    </div>
</div>